.header {
  margin-bottom: 42px;
  padding-top: 34px;

  &_active {
    background: #0e1d28;
  }

  &__wrapper {
    display: flex;
    height: 40px;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 40px;
    margin-bottom: 0px;
    align-items: center;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    font-size: 20px;
    line-height: 24px;
    color: Blue;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.95;
    }
  }
}
